
[Ii]nstallers/ACRE/*[Cc]ache*
build/*
*.exp
*.pyc
*.bin
*.dll
*.obj
*.exe
*.ipch
*.pbo
*.bisign
*.pdb
*.lib
*.log
*.ilk
*.htm
*.dep
*.sdf
*.opensdf
*.suo
*.user
*.tlog
[Ww]orking/
[Ww]orking/*
*.idb
*.lastbuildstate
obj*/
*.idl
*.tlb
*.dll
acre2.biprivatekey
acre.biprivatekey
.gitext
clients/global/*
_build*/
builds/acre2*/Game
pack_acre.bat
pack_acre.php
build.json
