release/*
releases/*
hemtt
hemtt.exe
.hemttout
symbols/*
keys/*
.hemtt/local
hemtt.toml
idi/*
a3/*
*.cache
*.pbo
texHeaders.bin
*.swp
*.swo
*.biprivatekey
Thumbs.db
*.dll
*.exe
*.vscode*
*.out
*.zip
*.sqfc
