language: python
python:
- '3.4'
script:
- python3 tools/sqf_validator.py
- python3 tools/config_style_checker.py
notifications:
  slack:
    secure: eH27KHy2bmV//YnDOEcuQDpMviDZTBO3flwfBQGZHGkx1t2yzYcY/OJQEXvn7YNgL3cRFO35o5vQACGzf3nEGBaxPlxlT54jdhBicqK3pCHkef+mGcY2DDXhZKymXnHHW4P9jtnJ2/YijLpRF7WbHDgAQy+Yy9KiPrWDSZQlxLmz1xz6/0jffKghrMO+KYeaaZBmbvzq1l27Tuw/WjDXDrfMMpxlj19NZjoepLeovC8HIfoipquDLyfrJAhmC9oEHNft+Xv4RP2jcekWkIUka5petTShL3oDWcs4guwcUepsZqxhOdcBYa6Ng0MjgmCHilbOzJVtDVxzQx2i1Xq/iOxJoHx5VX7EnGhvsbpAiCf2DoR4Z3UH4eOr2kSkD8CHe6IwgVwgA74k5KurdSP/ZPsEoM1rh//QDT4nWD3g2qUq/xUT+sYTfj5K+BQAgDluaTmhip+KmupF3qKns7s4cskSx88ABXv+8Wm7HA3G55u81/QmboibvIhBpnHf0gR+iWdGqNZhIjBnt45E8run6Qs8niQ7RDgtks3I8i3kUTh1H0tb4S1H/seYuXQHzJGzMXfKugS2zLYxm5Wbl5ntFbC5CkWsEwN7xosGdANVYasmRofIhbfk3HaVbR9b8lPxg0+9oxxcYlm8irxUZV+lai3YGfAQkSn0njnImckNUFA=
    on_success: change
  email:
    on_success: never
    on_failure: never
