BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 200
DerivePointerAlignment: false
PointerAlignment: Left
NamespaceIndentation: All
IncludeBlocks: Merge

BreakBeforeBraces: Custom
BraceWrapping:
  BeforeElse: true
  AfterEnum: false
  AfterExternBlock: false
  AfterFunction: false
  AfterStruct: false
  SplitEmptyFunction: false

#not yet supported on VS/VScode
#IndentExternBlock: Indent
#AllowShortEnumsOnASingleLine: false  #don't mangle enums
